@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit_L";
  src: url("/fonts/Outfit-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
